<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<table>
  <thead>
  <tr>
    <th>제목</th>
    <th>닉네임</th>
    <th>목적지</th>
    <th>모집인원</th>
    <th>모집중/모집완료</th>
    <th>조회수</th>
    <th>좋아요수</th>
    <th>작성일</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boards}">
    <td><a th:href="@{'post/' + ${board.id}}" th:text="${board.title}"></a></td>
    <td th:text="${board.userInfo.getNickname()}"></td>
    <td th:text="${board.destination}"></td>
    <td th:text="${board.recruitment}"></td>
    <td th:text="${board.status}"></td>
    <td th:text="${board.hits}"></td>
    <td th:text="${board.likes}"></td>
    <td th:text="${board.dateTime}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
