<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>여행 메이트 모집 글 수정 폼</title>
</head>
<body>
<h1>여행 메이트 모집 글 수정 폼</h1>
<form th:action="@{'/board/post/' + ${board_id} + '/update'}" method="POST">
    title : <input type="text" name="title" th:value="${form.getTitle()}"> <br>
    destination : <input type="text" name="destination" th:value="${form.getDestination()}"> <br>
    recruitment : <input type="text" name="recruitment" th:value="${form.getRecruitment()}"> <br>
    content : <input type="text" name="content" th:value="${form.getContent()}"> <br>
    <button type="submit">글 등록</button>
</form> <br>
</body>
</html>