.community-content {
    align-items: center;
    h2{
        text-align: center;
    }
    .content-wrapper{
        max-width: 800px;

        background: white;
        -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding:5px 15px;
        width: 80%;
        margin: 40px auto;
        .search-condition{
            .find-mate-form{
                display: flex;
                align-items: center;
                input {
                    font-family: inherit;
                    font-size: 100%;
                    width: 75%;
                    border: 1px solid #dae1e7;
                    border-radius: 5px;
                    padding: 0.5rem 0.75rem;
                    margin-bottom: 1rem;
                }
                .board-search-btn {
                    width: 50px;
                    height: 35px;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    background: lightblue;
                    border-radius: .25rem;
                    border : 0 solid #dae1e7;
                    font-weight: 700;
                    transition: 0.5s;
                }
            }       
        }
    }
}
.board-list-wrapper {
    
    .find-mate-list{
        .board-list{
            .board-column{
                background: white;
                -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
                box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
                border-radius: 20px;
                padding: 15x 10px;
                margin: 15px 5px;
                list-style: none;
                .title-box{
                    padding: 10px 10px;
                .title {
                    font-size: 25px;
                }
                .destination {
                    font-size: 15px;
                    opacity: 50%;
                }
                .date {
                    align-self: right;
                }
            }
            }
        }
    }
}