.hotelList{
    overflow: hidden;
    .hotel-item {
        float: left;
        width: calc(25% - 20px);
        height: fixed(500px);
        background: white;
                border-radius: 10px;
                padding: 15x 10px;
                margin: 15px 5px;
                list-style: none;
                box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    .hotel-img-slot {
        .hotel-img {
            width: 100%;
            height: 200PX;
            overflow:hidden;
            object-fit: fill;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }
    .hotel-item-header{
        margin: 5px 10px;
        padding : 5px 0px;
        border-top-right-radius: 15px;
    }
    .hotel-item-body{
        margin: 10px;
        padding: 0px 10px;
    }

    .hotel-item-footer{
        margin: 10px;
        padding: 5px 10px;
        .hotel-location {
            
            opacity: 0.5;
        }
    }
            }
        }

.hotel-manage {
    .hotel-manage-header {
        margin-left: 5%;
        width: 95%;
        height: 150px;
    }
    .hotel-manage-body{       
         .hotel-manage-list-head {
            position: sticky;
            top: 56px;
            background-color: #efefef;
            padding: 0px 0px;
            display: flex;
            align-items: center;
            border-bottom: 2px solid grey;
            height: 60px;
            text-align: center;
            .index{
                width: 80px;
                height: 60px;
                display: flex;
                font-weight: 700;
                align-items: center;
                justify-content: center;
                color: cadetblue;
                border-right: 1px dotted ;
            }
            .hotel-name{
                margin: 0px 10px; 
                width: calc(25% - 20px);
            }
            .reservation{
                margin: 0px 10px; 
                width: calc(25% - 20px);
            }
            .vacant-room{
                margin: 0px 10px; 
                width: calc(25% - 20px);

            }
        }
        .hotel-manage-list{
            background-color:  white;
            margin: 0px 0px;
            text-align: center;
            .hotel-manage-item{
                list-style:  none;
                display: flex;
                align-items: center;
                text-align: center;
                border-bottom: 1px solid black;
                .index{
                    width: 80px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: cadetblue;
                    border-right: 1px dotted ;
                }
                .hotel-name{
                        margin: 0px 10px; 
                        width: calc(25% - 20px);
                    }
                .reservation{
                        margin: 0px 10px; 
                        width: calc(25% - 20px);
                    }
                    .vacant-room{
                        margin: 0px 10px; 
                        width: calc(25% - 20px);
                    }
                }
                button {
                width: 65px;
                height: 25px;
                cursor: pointer;
                display: inline-block;
                background: lightblue;
                border-radius: .25rem;
                border : 0 solid #dae1e7;
                font-weight: 700;
                transition: 0.5s;
                }

            }
        }
    }

.hotel-create {
    max-width: 700px;
        background: white;
        -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding:5px 15px;
        width: 80%;
        margin: 40px auto;
    .hotel-create-form {
        align-items: center;   
        .hotel-title{
            input {
                font-family: inherit;
                font-size: 100%;
                width: 75%;
                border: 1px solid #dae1e7;
                border-radius: 5px;
                padding: 0.5rem 0.75rem;
                margin-bottom: 1rem;
            }
        }
        .address {
            
        }
        .hotel-img-input{
        }
    }
}
.address-modal{
    position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
.modal-wrapper {
    display: table-cell;
    vertical-align: middle; 
    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
        .modal-header h3 {
            margin-top: 0;
            color: #42b983;
        }
        .modal-body {
        margin: 20px 0;
        }  
    }
}
}
.modal-button {
    width: 65px;
    height: 25px;
    cursor: pointer;
    display: inline-block;
    background: lightblue;
    border-radius: .25rem;
    border : 0 solid #dae1e7;
    font-weight: 700;
    transition: 0.5s;
}
.img-files{
    input {
        font-family: inherit;
        font-size: 100%;
        width: 75%;
        border: 1px solid #dae1e7;
        border-radius: 5px;
        padding: 0.5rem 0.75rem;
        margin-bottom: 1rem;
    }
}
.address{
    input {
        font-family: inherit;
        font-size: 100%;
        width: 75%;
        border: 1px solid #dae1e7;
        border-radius: 5px;
        padding: 0.5rem 0.75rem;
        margin-bottom: 1rem;
    }
}