spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/tripper
    username: sa
    password:
    driver-class-name: org.h2.Driver
    thymeleaf:
      prefix: classpath:/templates/
      suffix: .html

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        use-new-id-generator-mappings: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace


